<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Customer Review</h2>
    </div>
</div>
<!-- Heading -->

<div class="container reviewContainer">
    <!-- Custom Messages -->
    <div class="row show-hide-message" ng-show="successMsg" >
        <div class="alert alert-success">{{successMsg}}</div>
    </div>
    <!-- Custom Messages -->
    <div class="row show-hide-message" ng-show="errorMsg">
        <div class="alert alert-danger">{{errorMsg}}</div>
    </div>
    <br>
    <form ng-submit="submitReview(data)">
        <label>Name:</label>
        <input class="form-control" type="text" name="name" placeholder="please enter name" ng-model="data.name">
        <br>

        <label>Email:</label>
        <input class="form-control" type="email" name="email" placeholder="please enter email" ng-model="data.email">
        <br>

        <label>Mobile:</label>
        <input class="form-control" type="text" maxlength="10" name="mobile" placeholder="please enter mobile" ng-model="data.mobile">
        <br>

        <label>Rating:</label>
        <p class="ratingStars"> 
            <span ng-repeat="x in maxratings" ng-click="setRating(x)">
                <span ng-show="x <= selectedRating" class="glyphicon glyphicon-star"></span>
                <span ng-hide="x <= selectedRating" class="glyphicon glyphicon-star-empty"></span> 
            </span> 
        </p>
        <br>
        
        <label>Review:</label>
        <input class="form-control" type="text" name="review" placeholder="please enter review" ng-model="data.review">
        <br>
        <center><button class="btn btn-primary" type="submit">Submit</button></center>
    </form>
</div>
<br>
<br>